/* Recipe Info */
.recipe dl {
  @apply flex flex-row flex-wrap md:w-96 border;
}

.recipe dl dt,
.recipe dl dd {
  @apply h-10 p-2;
}

.recipe dl dt {
  @apply text-gray-700 bg-gray-100 basis-6/12 font-semibold border-r;
}

.recipe dl dd {
  @apply bg-gray-50 basis-6/12 flex-grow overflow-hidden italic;
}

/* Recipe Image Responsiveness */
.main-recipe-image {
  @apply w-fit md:inline-block lg:float-right lg:inline bg-gray-100 border border-gray-200 px-2 py-2 lg:ml-4 lg:mb-4;
}

/* method block */
ol.method-list {
  @apply list-none;
  counter-reset: item;
}
ol.method-list li {
  @apply m-4 ml-0 leading-8;
  counter-increment: item;
}
ol.method-list li:before {
  @apply shrink-0 mr-4 w-8 h-8 inline-block text-white bg-primary rounded-full text-white text-center;
  content: counter(item);
}
