@tailwind base;
@tailwind components;
@tailwind utilities;

/* iphone resets */
@layer base {
  textarea,
  input.text,
  input[type="text"],
  input[type="button"],
  input[type="search"],
  input[type="submit"],
  .input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
  }

  input:focus-visible {
    @apply outline-secondary;
  }
}
